.ns-1 #content {
	BACKGROUND: #ffe
}
.ns-1 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-1 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-1 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-3 #content {
	BACKGROUND: #ffe
}
.ns-3 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-3 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-3 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-4 #content {
	BACKGROUND: #efe
}
.ns-4 #p-cactions LI {
	BACKGROUND: #efe
}
.ns-4 #p-cactions LI A {
	BACKGROUND: #efe
}
.ns-4 DIV.thumb {
	BORDER-LEFT-COLOR: #efe; BORDER-BOTTOM-COLOR: #efe; BORDER-TOP-COLOR: #efe; BORDER-RIGHT-COLOR: #efe
}
.ns-5 #content {
	BACKGROUND: #ffe
}
.ns-5 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-5 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-5 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-6 #content {
	BACKGROUND: #fff
}
.ns-6 #p-cactions LI {
	BACKGROUND: #fff
}
.ns-6 #p-cactions LI A {
	BACKGROUND: #fff
}
.ns-6 DIV.thumb {
	BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.ns-7 #content {
	BACKGROUND: #ffe
}
.ns-7 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-7 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-7 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-8 #content {
	BACKGROUND: #f1f1f1
}
.ns-8 #p-cactions LI {
	BACKGROUND: #f1f1f1
}
.ns-8 #p-cactions LI A {
	BACKGROUND: #f1f1f1
}
.ns-8 DIV.thumb {
	BORDER-LEFT-COLOR: #eef; BORDER-BOTTOM-COLOR: #eef; BORDER-TOP-COLOR: #eef; BORDER-RIGHT-COLOR: #eef
}
.ns-9 #content {
	BACKGROUND: #ffe
}
.ns-9 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-9 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-9 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-11 #content {
	BACKGROUND: #ffe
}
.ns-11 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-11 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-11 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-12 #content {
	BACKGROUND: #fee
}
.ns-12 #p-cactions LI {
	BACKGROUND: #fee
}
.ns-12 #p-cactions LI A {
	BACKGROUND: #fee
}
.ns-12 DIV.thumb {
	BORDER-LEFT-COLOR: #fee; BORDER-BOTTOM-COLOR: #fee; BORDER-TOP-COLOR: #fee; BORDER-RIGHT-COLOR: #fee
}
.ns-13 #content {
	BACKGROUND: #ffe
}
.ns-13 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-13 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-13 DIV.thumb {
	BORDER-LEFT-COLOR: #fee; BORDER-BOTTOM-COLOR: #fee; BORDER-TOP-COLOR: #fee; BORDER-RIGHT-COLOR: #fee
}
.ns-15 #content {
	BACKGROUND: #ffe
}
.ns-15 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-15 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-15 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-100 #content {
	BACKGROUND: #f0eeff
}
.ns-100 #p-cactions LI {
	BACKGROUND: #f0eeff
}
.ns-100 #p-cactions LI A {
	BACKGROUND: #f0eeff
}
.ns-100 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-101 #content {
	BACKGROUND: #ffe
}
.ns-101 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-101 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-101 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-102 #content {
	BACKGROUND: #f5fafa
}
.ns-102 #p-cactions LI {
	BACKGROUND: #f5fafa
}
.ns-102 #p-cactions LI A {
	BACKGROUND: #f5fafa
}
.ns-102 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
.ns-103 #content {
	BACKGROUND: #ffe
}
.ns-103 #p-cactions LI {
	BACKGROUND: #ffe
}
.ns-103 #p-cactions LI A {
	BACKGROUND: #ffe
}
.ns-103 DIV.thumb {
	BORDER-LEFT-COLOR: #ffe; BORDER-BOTTOM-COLOR: #ffe; BORDER-TOP-COLOR: #ffe; BORDER-RIGHT-COLOR: #ffe
}
H3 {
	BORDER-BOTTOM: #dddddd 1px dotted
}
#siteNotice {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: -0.5em; PADDING-TOP: 0px
}
#mw-dismissable-notice {
	BACKGROUND-COLOR: transparent
}
#siteSub {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 90%; FONT-STYLE: italic; BORDER-BOTTOM-STYLE: none
}
#bodyContent #siteSub A {
	PADDING-RIGHT: 0px; BACKGROUND-IMAGE: none; COLOR: #000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#HP_search {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/3/3e/HP_search.png)
}
#BG_zoom {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/8/8c/BGzoom.png)
}
#BG_wiki {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/6/6a/BGwikipedia_logo.png)
}
#BG_sfum {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/a/a4/BG_sfum.jpg)
}
.Sfum {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/6/62/Sfum.png)
}
.Sfum2 {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/d/d0/Sfum.jpg)
}
.BG_azzurro {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/2/27/BG_azzurro.jpg)
}
.E0F0FF-FFFFFF {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/b/b1/E0F0FF-FFFFFF.jpg); BACKGROUND-REPEAT: repeat-x
}
.BG_comunità {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/f/f9/BG_comunit%C3%A0.jpg)
}
.BenveAstro {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/f/ff/BenveAstro.png)
}
.Attualità {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/a/ac/Attualit%C3%A0_dal_cielo.png)
}
.VoceEvidenza {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/1/10/Voce_in_evidenza.png)
}
.CieloMese {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/1/14/Cielo_del_Mese.png)
}
.Almanacco {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/4/4a/Almanacco.png)
}
.ContattiA {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/d/db/Contatti.png)
}
.EventiMese {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/b/b2/Eventi_del_mese.png)
}
.CategorieA {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/7/71/Categorie.png)
}
.Luna {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/b/b1/Fasi_lunari.png)
}
.SapeviA {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/1/18/Lo_sapevi_che.png)
}
.ImmagineEvidenza {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/5/5f/ImmagineEvidenza.png)
}
.VociVetrina {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/e/ec/VociVetrina.png)
}
.PortaliA {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/5/5a/PortaliCorrelati.png)
}
.AltriProgetti {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/4/44/ProgettiWikimedia.png)
}
.BGblue3 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/0/0a/BGblue3.jpg); BACKGROUND-REPEAT: repeat-x
}
.BGorange1 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/0/02/BGorange1.jpg); BACKGROUND-REPEAT: repeat-x
}
.BGorange2 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/a/a7/BGorange2.jpg); BACKGROUND-REPEAT: repeat-x
}
.BGalpha {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/5/55/BGalpha.png); BACKGROUND-REPEAT: repeat-x
}
.PPcornerTop {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/e/e4/PPcornerTop2.gif); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.PPcornerBottom {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/c/c1/PPcornerBottom.gif); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.PPradiusTop {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/7/70/PPradiusTop.gif); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 13px
}
.PPradiusBottom {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/7/70/PPradiusBottom.gif); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 13px
}
.B-topright {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/a/a8/B_topright.png); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.B-topleft {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/e/ea/B_topleft.png); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.B-bottomright {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/a/a9/B_bottomright.png); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.B-bottomleft {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/f/f3/B_bottomleft.png); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.obliquo {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/it/7/76/Obliquo.gif); BACKGROUND-REPEAT: repeat
}
.interwiki-completelist {
	FONT-WEIGHT: bold
}
.portlet LI {
	LIST-STYLE-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/1/18/Monobook-bullet.png)
}
LI.FA {
	LIST-STYLE-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/4/4c/Icone_AdQ.png)
}
#coordinates {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 85%; Z-INDEX: 1; RIGHT: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; PADDING-BOTTOM: 0em; MARGIN: 0em; TEXT-TRANSFORM: none; BORDER-TOP-STYLE: none; TEXT-INDENT: 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0em; BORDER-RIGHT-STYLE: none; WHITE-SPACE: nowrap; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: 45px; TEXT-ALIGN: right; BORDER-BOTTOM-STYLE: none
}
